* {
  padding: 0;
  margin: 0;
  color: #ffffff;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #191c1f;
  justify-content: space-between;
}

.navbar a {
  color: #ffffff;
  margin-left: 10px;
  text-decoration: none;
  padding: 13px 0;
  font-size: 20px;
}

.sidebar {
  width: 200px;
  background-color: #2b3035;
  padding: 15px;
  height: 100%;
  position: fixed;
  top: 56px;
  z-index: 0;
}

.sidebar a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.content {
  margin-left: 200px;
  padding: 20px;
  margin-top: 56px;
  background-color: #212529;
}

.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.btn {
  width: 7%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  height: 300px;
  border-radius: 15px;
  background-color: #212529;
  padding: 20px;
}

.card h1 {
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.container button:hover {
  transform: scale(1.1);
}

a {
  cursor: pointer;
}